#Estructuras de repetición

# Estructuras de repetición para (for)
##for i in range(ci,pasos,cf):

- ci=valor inicial
- pasos=incremento
- cf=valor final

In [ ]:
#Realizar la tabla del n de 1 a 10
n=int(input("Qué tabla desea generar "))
print("Tabla del " ,n)
for i in range (1,11):
  t=n*i
  print("-" ,n, "*" ,i, "=" ,t)

Qué tabla desea generar 10
Tabla del  10
- 10 * 1 = 10
- 10 * 2 = 20
- 10 * 3 = 30
- 10 * 4 = 40
- 10 * 5 = 50
- 10 * 6 = 60
- 10 * 7 = 70
- 10 * 8 = 80
- 10 * 9 = 90
- 10 * 10 = 100

In [ ]:
for n in range (1,11):
   print("Tabla del " ,n)
   for i in range(1,11):
     t=n*1
     print("-" ,n, "*" ,i, "=" ,t)
     print(" ")

Tabla del  1
- 1 * 1 = 1

- 1 * 2 = 1

- 1 * 3 = 1

- 1 * 4 = 1

- 1 * 5 = 1

- 1 * 6 = 1

- 1 * 7 = 1

- 1 * 8 = 1

- 1 * 9 = 1

- 1 * 10 = 1

Tabla del  2
- 2 * 1 = 2

- 2 * 2 = 2

- 2 * 3 = 2

- 2 * 4 = 2

- 2 * 5 = 2

- 2 * 6 = 2

- 2 * 7 = 2

- 2 * 8 = 2

- 2 * 9 = 2

- 2 * 10 = 2

Tabla del  3
- 3 * 1 = 3

- 3 * 2 = 3

- 3 * 3 = 3

- 3 * 4 = 3

- 3 * 5 = 3

- 3 * 6 = 3

- 3 * 7 = 3

- 3 * 8 = 3

- 3 * 9 = 3

- 3 * 10 = 3

Tabla del  4
- 4 * 1 = 4

- 4 * 2 = 4

- 4 * 3 = 4

- 4 * 4 = 4

- 4 * 5 = 4

- 4 * 6 = 4

- 4 * 7 = 4

- 4 * 8 = 4

- 4 * 9 = 4

- 4 * 10 = 4

Tabla del  5
- 5 * 1 = 5

- 5 * 2 = 5

- 5 * 3 = 5

- 5 * 4 = 5

- 5 * 5 = 5

- 5 * 6 = 5

- 5 * 7 = 5

- 5 * 8 = 5

- 5 * 9 = 5

- 5 * 10 = 5

Tabla del  6
- 6 * 1 = 6

- 6 * 2 = 6

- 6 * 3 = 6

- 6 * 4 = 6

- 6 * 5 = 6

- 6 * 6 = 6

- 6 * 7 = 6

- 6 * 8 = 6

- 6 * 9 = 6

- 6 * 10 = 6

Tabla del  7
- 7 * 1 = 7

- 7 * 2 = 7

- 7 * 3 = 7

- 7 * 4 = 7

- 7 * 5 = 7

- 7 * 6 = 7

- 7 * 7 = 7

- 7 * 8 = 7

- 7 * 9 = 7

- 7 * 10 = 7

Tabla del  8
- 8 * 1 = 8

- 8 * 2 = 8

- 8 * 3 = 8

- 8 * 4 = 8

- 8 * 5 = 8

- 8 * 6 = 8

- 8 * 7 = 8

- 8 * 8 = 8

- 8 * 9 = 8

- 8 * 10 = 8

Tabla del  9
- 9 * 1 = 9

- 9 * 2 = 9

- 9 * 3 = 9

- 9 * 4 = 9

- 9 * 5 = 9

- 9 * 6 = 9

- 9 * 7 = 9

- 9 * 8 = 9

- 9 * 9 = 9

- 9 * 10 = 9

Tabla del  10
- 10 * 1 = 10

- 10 * 2 = 10

- 10 * 3 = 10

- 10 * 4 = 10

- 10 * 5 = 10

- 10 * 6 = 10

- 10 * 7 = 10

- 10 * 8 = 10

- 10 * 9 = 10

- 10 * 10 = 10

In [ ]:
p=input("Escriba algo")
for i in range (1,11,1):
  print((p*i).center(20))

Escriba algo*
         *
         **
        ***
        ****
       *****
       ******
      *******
      ********
     *********
     **********

In [ ]:
a=int(input())
n="*"
b=a
c=1
for i in range (1,a):
  print(" "*b,n*c)
  b=b-1
  c=c+2

*

ValueError: ignored